.App {
  text-align: center;
}
.nav-link{
 color:whitesmoke !important;;


}
.nav-link-active {
  color: purple !important; /* Change this to your desired color */

}

.new{
  background: #3e0fd5;
  width: 100px;
}